<mat-card class="card">
  <mat-card-header class="header">
    <mat-card-title >Git Repo Search Filter</mat-card-title>
  </mat-card-header>
  <mat-card-content class="content">
    <mat-form-field class="example-full-width">
      <input type="text" id="search" (ngModelChange)="enableSearch($event)"
      required
      [(ngModel)]="search" name="search"matInput placeholder="Search">
    </mat-form-field>

  <button mat-raised-button [disabled]="enablesearch" (click) = "getData()" class="searchBtn">Search</button>
  </mat-card-content>
</mat-card>

<app-show-result *ngIf="dis" [data]="data"></app-show-result>

